* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #000;
  color: #fff;
}

.container {
  height: 90vh;
  width: 90vw;
  padding: 15px;
  margin: 15px;
}

#countLabel {
  display: block;
  text-align: center;
  font-size: 8rem;
  padding-top: 10px;
  padding-bottom: -20px;
}

#buttonSection {
  height: 20vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  align-items: center;
  margin-right: 5px;
  height: 55px;
  width: 75px;
  border: white 1px solid;
  border-radius: 8px;
  margin-bottom: 10px;

}

button:hover {
  background-color: #444;
  cursor: pointer;
}